.home-page {
  padding: 20rpx;
  
  .title {
    font-size: 20rpx;
    font-weight: bold;
    display: block;
  }
  
  .subtitle {
    font-size: 12rpx;
    color: #666;
    display: block;
    margin-top: 10rpx;
  }
}